{% extends "base.html" %}
{% block title %}Ingredients{% endblock %}
{% block content %}
  <h2>Your Ingredients</h2>
  <p><a href="{{ url_for('add_ingredient') }}" class="btn">Add ingredient</a></p>
  {% if ingredients %}
    <table class="list">
      <thead><tr><th>Name</th><th>Quantity</th><th>Unit</th><th>Notes</th><th>Actions</th></tr></thead>
      <tbody>
      {% for ing in ingredients %}
        <tr>
          <td>{{ ing['name'] }}</td>
          <td>{{ ing['quantity'] }}</td>
          <td>{{ ing['unit'] }}</td>
          <td>{{ ing['notes'] }}</td>
          <td>
          <a href="{{ url_for('edit_ingredient', id=ing['id']) }}">
            <img src="{{ url_for('static', filename='image/pencil-square.png') }}" 
              style="width:20px; height:20px;">
          </a>
          <form method="post" action="{{ url_for('delete_ingredient', id=ing['id']) }}" style="display:inline;">
              <button type="submit" style="background:none; border:none; padding:0; cursor:pointer;">
                  <img src="{{ url_for('static', filename='image/trash.png') }}" 
                      style="width:20px; height:20px;">
              </button>
          </form>

          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No ingredients yet.</p>
  {% endif %}
{% endblock %}
